@import "tailwindcss";

/* Define colors */
@theme {
  --bg: #1F1F1F;
  --text: #f9fdf9;
  --primary: #c68dfe;
  --secondary: #cbe957;
  --tertiary: #96c1d4;
  --black: #141414;
  --border-gradient: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--tertiary)
  );
  --bg-dark: linear-gradient(var(--bg), var(--black));
}

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

/* Navbar */
.nav-logo {
  color: var(--secondary)
}


