@import "tailwindcss";

@theme {
  /* Define colors */
  --bg: #1F1F1F;
  --text: #f9fdf9;
  --text-dark: #dcd1e6;
  --primary: #c68dfe;
  --secondary: #cbe957;
  --tertiary: #96c1d4;
  --black: #141414;
  --border-gradient: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--tertiary)
  );
  --bg-dark: linear-gradient(var(--bg), var(--black));

  /* Define syntax highlighting colors */
  --const: #fa02d7;
  --string: #fad404;
  --skill: #c6f802;
  --boolean: #f86109;
  --symbol: var(--tertiary);
}

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  overflow-x: hidden;
}

pre:has(code) {
  white-space: pre-line;
}
